# Główna biblioteka
opencv-python

# Przetwarzanie i generowanie dużych macierzy testowych
numpy

# Framework do testów funkcjonalnych
pytest

# Dodatek do wykonywania benchmarków i testów wydajnościowych
pytest-benchmark
